@import url('https://fonts.googleapis.com/css?family=Overpass');

* {
    font: normal 16px/1.5 "Overpass", sans-serif;
  }

body {
    background-color: #191414;
    color: #FFFFFF;
}

.container{
    display: flex;
}

.board{
    margin-left: 5%;
}

table {
    border-spacing: 5px;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.171);
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.range-text{
    margin-top: 3%;
    justify-content: space-around;
    display: flex;
}

.clear{
    margin-top: 2%;
    height: 30px;
    width: 150px;
    border-radius: 6px;
    background-color: #5484FF;
    box-shadow: 0 0 20px #000000;
    color: #FFFFFF;
}

.board-text{
    margin-top: 9%;
    justify-content: center;
    display: flex;
}

.board-text .clear{
    position: absolute;
    margin-left: 43%;
    margin-top: -9%;
}

.dead-cards{
    margin-left: 19%;
}

.dead-cards-text{
    margin-top: 9%;
    justify-content: center;
    display: flex;
}

.filters {
    margin-top: 1%;
    margin-left: 75%;
    position: absolute;
}
  
.filters button {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    border: none;
    background: none;
    padding: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}
  
.filters button i {
    margin-right: 5px;
}
  

.pairs{
    background-color: rgba(30, 60, 99, 0.7);
}

.suited{
    background-color: rgba(151, 145, 52, 0.7);
}

.offsuited{
    background-color: rgb(88, 19, 19);
}

.selected-pairs {
    background-color: rgba(69, 150, 255, 1);
}

.selected-suited {
    background-color: rgba(255, 244, 87, 1);
}

.selected-offsuited {
    background-color: rgb(255, 45, 45);
}

.heart{
    background-color: rgb(88, 19, 19);
}

.club{
    background-color: rgba(35, 77, 35, 0.699);
}

.diamond{
    background-color: rgba(30, 60, 99, 0.7);
}

.spade{
    background-color: rgba(85, 85, 85, 0.699);
}

.selected-heart{
    background-color: rgb(255, 45, 45) ;
}

.selected-club{
    background-color: rgb(122, 255, 122) ;
}

.selected-diamond{
    background-color: rgba(69, 150, 255, 1) ;
}

.selected-spade{
    background-color: rgba(255, 255, 255, 0.699) ;
}

.board-container{
    margin-left: 5%;
    margin-top: 10%;
    height: 100px;
    width: 500px;
    background-color: #232323;
    border-radius: 4px;
    box-shadow: 0 0 30px #000000;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.flop1{
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flop1 img {
    max-width: 100%;
    max-height: 100%;
}

.flop2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
}

.flop2 img {
    max-width: 100%;
    max-height: 100%;
}

.flop3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
}

.flop3 img {
    max-width: 100%;
    max-height: 100%;
}

.turn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
}

.turn img {
    max-width: 100%;
    max-height: 100%;
}

.river{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
}

.river img {
    max-width: 100%;
    max-height: 100%;
}

.filter-box {
    background: #232323;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    height: 100px;
    width: 275px;
    font-size: inherit;
}

.filter-box p{
    text-align: center;
    margin-bottom: -17px;
}
