@import url('https://fonts.googleapis.com/css?family=Overpass');

* {
    font: normal 16px/1.5 "Overpass", sans-serif;
  }

body {
    background-color: #191414;
    color: #FFFFFF;
}

table {
    border-spacing: 5px;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.171);
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.pairs{
    background-color: rgba(30, 60, 99, 0.7);
}

.suited{
    background-color: rgba(151, 145, 52, 0.7);
}

.offsuited{
    background-color: rgb(88, 19, 19);
}

.selected-pairs {
    background-color: rgba(69, 150, 255, 1);
}

.selected-suited {
    background-color: rgba(255, 244, 87, 1);
}

.selected-offsuited {
    background-color: rgb(255, 45, 45);
}